<%= form_with(model: phrase) do |form| %>
  <% if phrase.errors.any? %>
    <div style="color: red">
      <h2><%= phrase.errors.full_messages.map { |msg| msg == "Play url is not a valid YouTube ID" ? "プレイURLが正しいYouTubeのIDではありません" : msg }.join('、') %>のため、フレーズを保存できませんでした。</h2>
    </div>
  <% end %>
  
  <div>
    <%= form.label :content, Phrase.human_attribute_name(:content), style: "display: block" %>
    <%= form.text_field :content, class: 'wide-input' %>
  </div>

  <div>
    <%= form.label :music_title, Phrase.human_attribute_name(:music_title), style: "display: block" %>
    <%= form.text_field :music_title, class: 'wide-input' %>
  </div>

  <div>
    <%= form.label :comment, Phrase.human_attribute_name(:comment), style: "display: block" %>
    <%= form.text_area :comment, class: 'wide-input' %>
  </div>

  <div>
    <%= form.label :author_name, Phrase.human_attribute_name(:author_name), style: "display: block" %>
    <%= form.text_field :author_name, class: 'wide-input' %>
  </div>

  <div>
    <%= form.label :artist_name, Phrase.human_attribute_name(:artist_name), style: "display: block" %>
    <%= form.text_field :artist_name, class: 'wide-input' %>
  </div>

  <div>
    <%= form.label :play_url, Phrase.human_attribute_name(:play_url), style: "display: block" %>
    <%= form.text_field :play_url, class: 'wide-input' %>
  </div>

  <div>
    <%= form.submit phrase.new_record? ? "投稿する" : "更新", class: 'submit-button' %>
  </div>

<% end %>
