<div id="<%= dom_id phrase %>">
  <p>
    <strong>Content:</strong>
    <%= phrase.content %>
  </p>

  <p>
    <strong>Music title:</strong>
    <%= phrase.music_title %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= phrase.comment %>
  </p>

  <p>
    <strong>Author name:</strong>
    <%= phrase.author_name %>
  </p>

  <p>
    <strong>Play url:</strong>
    <%= phrase.play_url %>
  </p>

</div>
