<div class="container-fluid mt-5">

  <!-- Content Section -->
  <div class="row mb-4">
    <div class="col-12">
      <div class="p-3 shadow-sm bg-white rounded">
        <%= @phrase.content %>
      </div>
    </div>
  </div>

  <!-- Row for Music Details, Author, and URL -->
  <div class="row mb-4">
    <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
      <h5 class="text-muted">曲名</h5>
      <p><%= @phrase.music_title %></p>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
      <h5 class="text-muted">アーティスト名</h5>
      <p><%= @phrase.artist_name %></p>
    </div>

    <div class="col-lg-4 col-md-12 col-sm-12 mb-3">
      <h5 class="text-muted">投稿者</h5>
      <p><%= @phrase.author_name %></p>
    </div>
  </div>

  <!-- YouTube Embed -->
  <% if @phrase.youtube_key.present? %>
  <div class="row mb-4">
    <div class="col-12">
    <iframe class="rounded" style="width: 70%; height: 50vh;" src="https://www.youtube.com/embed/<%= @phrase.youtube_key%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>
  </div>
  <% end %>

  <!-- Comment Section -->
  <div class="row mt-4">
    <div class="col-12">
      <div class="p-3 shadow-sm bg-white rounded">
        <%= @phrase.comment %>
      </div>
    </div>
  </div>

  <!-- Link Section -->
  <div class="mt-4 text-center">
    <%= link_to "編集する", edit_phrase_path(@phrase), class: "text-primary mr-4" %>
    <%= link_to "投稿一覧画面に戻る", phrases_path, class: "text-primary mr-4" %>
    <%= link_to "削除する", phrase_path(@phrase), method: :delete, data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" }, class: "text-danger" %>
  </div>

</div>
