<!DOCTYPE html>
<html>
  <head>
    <title>GoodMusicPhrases</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Font Awesomeのリンクを追加 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
     <header class="header-class">  <!-- インラインスタイルを削除してクラスを追加 -->
      <%= link_to root_path, class: "btn btn-light mb-3" do %>
        <i class="fas fa-home"></i> Home
      <% end %>
      
      <%= link_to new_phrase_path, class: "btn btn-light mb-3" do %>
        <i class="fas fa-pen"></i> New phrase
      <% end %>
    </header>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
